*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(to right, #1c92d2, hsla(201, 76%, 47%, 0.7));
  --clr-white: #fff;
  --clr-blue: #1c92d2;
  --clr-light: #ededed;
  --clr-dark-blue: #156b99;
  --clr-dark: #010a43;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: var(--clr-dark);
  line-height: 1.6;
}

.pricing__hero {
  padding: 5rem 1rem;
  background-image: url(../img/illustration.svg);
  background-position: center;
  text-align: center;
  line-height: 1;
}

.pricing__hero__title {
  font-size: 2rem;
}

.pricing__hero__subtitle {
  font-size: 1.2rem;
}

.pricing__features {
  display: block;
  margin: 3rem auto 3rem;
  padding: 0 1rem;
}

.pricing__features__title {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: normal;
}

.pricing__plan__toggler {
  text-align: center;
  margin-top: 1.5rem;
}

[name="duration"] {
  opacity: 0;
  position: absolute;
  padding: 0;

  &:first-of-type:checked ~ label:first-of-type:after {
    background-color: var(--clr-dark-blue);
  }

  &:first-of-type:checked ~ label:first-of-type:before {
    transform: translateX(-2rem);
  }

  &:last-of-type:checked ~ label:last-of-type {
    z-index: 1;
  }
}

[name="duration"] + label {
  display: inline-block;
  line-height: 2;
  position: relative;
  z-index: 2;

  &:first-of-type {
    padding-right: 5rem;
  }

  &:last-child {
    margin-left: -4.25em;
    padding-left: 5rem;
  }

  &:first-of-type:before,
  &:first-of-type:after {
    content: "";
    position: absolute;
    height: 2rem;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid var(--clr-light);
  }

  &:first-of-type:before {
    position: absolute;
    width: 2rem;
    z-index: 2;
    right: -0.075rem;
    background: var(--clr-white);
    border: 1px solid var(--clr-light);
    border-radius: 100%;
    transform: translateX(0rem);
    transition: transform 0.35s ease-out;
  }

  &:first-of-type:after {
    margin: 0 1rem;
    width: 4rem;
    background-image: var(--gradient);
    border-radius: 1rem;
    transition: background 0.35s ease-out;
  }
}

.pricing__plan {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing__plan__card {
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  h4 {
    font-size: 1.1rem;
    color: #65587f;
    font-weight: normal;
  }

  .price {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1;
  }

  .benefits {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li,
    li:first-of-type {
      padding: 0.5rem;
      border-bottom: 2px solid var(--clr-light);
    }
  }
}

@media (min-width: 720px) {
  .pricing__plan__card + .pricing__plan__card {
    margin-left: 3rem;
  }
}

.plan__btn {
  display: inline-block;
  padding: 0.7rem 1.7rem;
  margin: 2rem;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: 0.85rem;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: var(--clr-blue);
  transition: all 0.35s ease-out;

  &:hover {
    background-color: var(--clr-dark-blue);
  }
}

.recommended {
  background-image: var(--gradient);
  color: var(--clr-white);

  h4 {
    color: currentColor;
  }

  @media (min-width: 1125px) {
    transform: scale(1.1);
  }

  .plan__btn {
    background-color: var(--clr-light);
    color: var(--clr-blue);
    transition: all 0.35s ease-out;

    &:hover {
      background-color: var(--clr-dark-blue);
      color: var(--clr-light);
    }
  }
}
